dev/target/
dev/pom.xml.tag
dev/pom.xml.releaseBackup
dev/pom.xml.versionsBackup
dev/pom.xml.next
dev/release.properties
dev/dependency-reduced-pom.xml
dev/buildNumber.properties
dev/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
dev/.mvn/wrapper/maven-wrapper.jar
dev/.classpath
dev/.project
dev/.settings
dev/*.log
